<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página</title>

    <!-- Hojas de estilos utilizadas -->
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="stylesheet" href="/estilos/dropdown.css">
    <link rel="stylesheet" href="/js/prueba.php">

    <style>
        /* Para editar estilos de forma local */
    </style>
    
</head>
<body>
    <background></background>

    <div class="header">AutoHistory</div>
    <div class="content" style="display: flex;">
    <div class="container" style="display: flex;">

        <!-- <label for="marcas">Choose a brand:</label> -->
        <select name="marcas" id="marcas" class="select-box">
            <option value="default" style="font-weight: bold;">Selecciona una marca</option>
            <!-- <optgroup label="Selecciona una marca"></optgroup> -->
            <!-- <optgroup label="Coches Suecos">
                <option value="volvo">Volvo</option>
                <option value="saab">BMW</option>
            </optgroup>
            <optgroup label="Coches Alemanas">
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </optgroup> -->
        </select>

        <hr width="75%" color="black"/>

        <div class="dropdown" style="display: block;">
            <button class="dropbtn" id="models_dropbtn">Selecciona el modelo</button>
            <div class="dropdown-content" id="modelContainer">
                <a href="#">Sin definir</a>
            </div>
        </div>

        <hr width="75%" color="black"/>

        <label>Añade un coche a la base de datos:</label>
        <form id="formularioAuto" action="/validar" method="post">
            <input type="text" name="marca" id="marca" placeholder="Marca">
            <input type="text" name="modelo" id="modelo" placeholder="Modelo">
            <input type="text" name="matricula" id="matricula" placeholder="Matricula">
            <button type="submit">Enviar</button>
        </form>

        <hr width="75%" color="black"/>

        <!-- FALTA AÑADIR LA FUNCIONALIDAD DE ESTE BOTÓN -->
        <button class="boton">Buscar</button>
    </div>

    
    </div>
    
    <!-- Scripts finales importados -->
    <!-- <script src="js/conexion.js"></script> -->

    <script>
        // 1. Selecciona el elemento <select> por su ID
        const brandSelect = document.getElementById('marcas');

        // 2. Añadimos las opciones al select desde la base de datos
        fetch('/api/brands')
            .then(response => response.json())
            .then(brands => {
                // var i = 0;
                brands.forEach(brand => {
                    // console.log("marca #" + i + ": " + brand.marca);
                    // console.log(brand);
                    // i++;
                    const option = document.createElement('option');
                    option.value = brand.marca;
                    option.textContent = brand.marca;
                    brandSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error al enviar el valor:', error);
            });

        // 3. Selecciona el elemento <select> por su ID
        const modelContainer = document.getElementById('modelContainer');
        const modelsDropBtn = document.getElementById('models_dropbtn');

        // 4. Crea un event handler para el evento 'change'
        brandSelect.addEventListener('change', function(event) {
            // 5. Obtiene el valor actual seleccionado
            const selectedValue = event.target.value;

            // 6. Llama a una función de Express enviando el valor seleccionado como parámetro
            enviarValorSeleccionado(selectedValue);
        });

        // 7. Función para enviar el valor seleccionado a Express
        function enviarValorSeleccionado(valor) {
            // Aquí puedes hacer una petición HTTP a tu servidor Express

            // Reseteamos el boton del dropdown:
            modelsDropBtn.value = 'Selecciona el modelo';
            modelsDropBtn.innerText = 'Selecciona el modelo';

            // Resetamos el div del dropdown:
            modelContainer.innerHTML = ''; // Clear existing models

            // Definimos la solicitud http queserá enviada al servidor:
            const httpRequest = `/api/models?marca=${encodeURIComponent(valor)}`;
            // console.log('petición http: ' + httpRequest);

            // Fetch car models for the selected brand
            fetch(httpRequest)
            .then(response => response.json())
            .then(models => {
                // var i = 0;
                models.forEach(model => {
                    // console.log("modelo #" + i + ": " + model.modelo);
                    // console.log(model);
                    // i++;
                    const button = document.createElement('a');
                    button.href = '#';
                    button.name = 'model_option';
                    button.textContent = model.modelo;
                    modelContainer.appendChild(button);
                });
            });
        };

        // 8. Actualizamos el valor del botón del menú desplegable:
        modelContainer.addEventListener('click', (event)=>{
            if (event.target.name === 'model_option') {
                // Accede al botón que se ha clicado
                const btnClicado = event.target;
                const btnInfo = btnClicado.textContent;
                // console.log('Botón clicado:', btnClicado.textContent);
                modelsDropBtn.innerText = btnInfo;
            }
        });

    </script>

</body>
</html>
